<section>
    <h1>User</h1>
    <form class="example-form" [formGroup]="userForm">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="this.userForm.get('name').hasError('required')">You must enter a value</mat-error>
            <mat-error *ngIf="this.userForm.get('name').hasError('pattern')">Must contain only alphabets</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="UserName" formControlName="username">
            <mat-error *ngIf="this.userForm.get('username').invalid">You must enter a value</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="this.userForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
       <div  class="mt-2">
        <button mat-raised-button color="primary" (click)="createUser()">Save</button>
        <button class="ml-2" mat-raised-button color="primary" (click)="dialogRef.close()">Close</button>
       </div>
        
        
    </form>
</section>