/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.example-full-width {
  width: 100%;
}
.ml-2 {
  margin-left: 0.5rem;
}
table {
  width: 100%;
  .mat-header-cell,
  .mat-cell {
    padding: 5px;
    &:first-of-type {
      padding-left: 24px;
    }
    &:last-of-type {
      width: 8%;
      padding-right: 24px;
    }
  }
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
// .router-link-active {
//   // border: dotted;
//   // border-color: #415AB5;
//   background-color: #415ab5;
//   color: "primary";
//   // color: white;
// }
.float-right {
  float: right;
}
.cursor-pointer {
  cursor: pointer;
}
.padding {
  padding: 1rem 1rem 1rem 1rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
